{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Run Extension",
      "type": "extensionHost",
      "request": "launch",
      "args": [
        "{{TEST_WORKSPACE_PATH}}",
        "--extensionDevelopmentPath=${workspaceFolder}"
      ],
      "outFiles": [
        "${workspaceFolder}/build/**/*.js"
      ],
      "preLaunchTask": "prepare-extension",
      "env": {
        "PYTHONPATH": "${workspaceFolder}:${env:PYTHONPATH}"
      }
    }
  ]
}
